*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(158, 184, 184);
}

header{
    margin-bottom: 3rem;
}
header h1{
    font-size: 4rem;
    color: #fff;
}

section{
    background: #fff;
    padding: 1.5rem 10rem;
    border-radius: 1rem;
    box-shadow: 0.8rem 0.8rem 2rem rgb(99, 99, 99);
}
section .msg{
    font-size: 2rem;
    margin-bottom: 2rem;
}
